<!DOCTYPE html>
<html lang="en">
{{ template "head.html" .}}
<body>
{{ template "navbar.html" .}}

<h1>Создать свой пост</h1>
<form class="form row g-3 needs-validation" action="/posts/create" method="post">
    <div>
        <input type="text" placeholder="title" name="title" id="title"/>
        <input type="text" placeholder="content" name="content" id="content"/>
        <button type="submit" class="btn">Клик</button>
    </div>
</form>

<script type="text/javascript" src="/assets/js/index.js"></script>
</body>
</html>